<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container py-1">
      <a class="brand" href="__BASE__index.html">
        <span class="brand-mark">Î©</span>
        OnlineTools
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="navbar-nav ms-lg-4 me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html#image">Image</a></li>
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html#seo">SEO</a></li>
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html#text">Text</a></li>
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html#developer">Developer</a></li>
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html#calculators">Calculators</a></li>
          <li class="nav-item"><a class="nav-link" href="__BASE__index.html#converters">Converters</a></li>
        </ul>
        <form class="search-wrap d-flex" role="search" id="header-search" action="__BASE__index.html">
          <input class="form-control" type="search" name="q" placeholder="Search 100+ tools" aria-label="Search tools">
        </form>
      </div>
    </div>
  </nav>
</header>

